{{block "content" . }}
<h1>Available Chat Rooms</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Type</th>
            <th scope="col">Date</th>
            <th scope="col">Active Users</th>
        </tr>
    </thead>
    <tbody>
            {{range . }}
        <tr>
            <th scope="row" ><a href="/chat/join/{{.ID}}">{{.Title}}</a></th>
            <td>{{ .Type }}</td>
            <td>{{.PrettyTime}}</td>
            <td>{{.Participants}}</td>
        </tr>
        {{ end }}
    </tbody>
    </table>
{{end }}