<div class="card bg-sohbet border-0 m-0 p-0" style="height: 100vh;">
        <div id="sohbet" class="card border-0 m-0 p-0 position-relative bg-transparent"
            style="overflow-y: auto; height: 100vh;">

            <div class="balon1 p-2 m-0 position-relative" data-is="You - 3:20 pm">
                <a class="float-right"> Hey there! What's up? </a>
            </div>

            <div class="balon2 p-2 m-0 position-relative" data-is="user1 - 3:22 pm">
                <a class="float-left sohbet2"> Lorem ipsum dolor sit amet, consectetur a </a>
            </div>

            <div class="balon1 p-2 m-0 position-relative" data-is="You - 3:23 pm">
                <a class="float-right"> Lorem ipsum dolor sit amet, consectetur a </a>
            </div>

            <div class="balon2 p-2 m-0 position-relative" data-is="user1 - 3:26 pm">
                <a class="float-left sohbet2"> Lorem ipsum dolor sit amet, consectetuz a </a>
            </div>

            <div class="balon1 p-2 m-0 position-relative" data-is="You - 3:28 pm">
                <a class="float-right"> Lorem ipsum dolor sit amet, consectetur a </a>
            </div>

            <div class="balon2 p-2 m-0 position-relative" data-is="user2 - 3:33 pm">
                <a class="float-left sohbet2">Lorem ipsum dolor sit amet, consectetur a diLorem ipsum dolor sit amet,
                    consectet</a>
            </div>

            <div class="balon1 p-2 m-0 position-relative" data-is="You - 3:20 pm">
                    <a class="float-right"> Hey there! What's up? </a>
                </div>
    
                <div class="balon2 p-2 m-0 position-relative" data-is="user1 - 3:22 pm">
                    <a class="float-left sohbet2"> Lorem ipsum dolor sit amet, consectetur a </a>
                </div>
    
                <div class="balon1 p-2 m-0 position-relative" data-is="You - 3:23 pm">
                    <a class="float-right"> Lorem ipsum dolor sit amet, consectetur a </a>
                </div>
    
                <div class="balon2 p-2 m-0 position-relative" data-is="user1 - 3:26 pm">
                    <a class="float-left sohbet2"> Lorem ipsum dolor sit amet, consectetuz a </a>
                </div>
    
                <div class="balon1 p-2 m-0 position-relative" data-is="You - 3:28 pm">
                    <a class="float-right"> Lorem ipsum dolor sit amet, consectetur a </a>
                </div>
    
                <div class="balon2 p-2 m-0 position-relative" data-is="user2 - 3:33 pm">
                    <a class="float-left sohbet2">Lorem ipsum dolor sit amet, consectetur a diLorem ipsum dolor sit amet,
                        consectet</a>
                </div>

        </div>
    </div>