{{ define "content" }}
<h2><i class="fas fa-comment-dots"></i> ChitChat</h2>
<p>ChitChat is a simple chat application that helps you connect with other people around the world.</p> 
<p>In today's digital world it can be difficult to view and exchange information anonymously. ChitChat is an open-source project intended to enable such without compromising security or privacy. Since this is just a fun side project of mine, there are no mysterious third parties analyzing and collecting user activities :)</p>

<div class="line"></div>

<h4><i class="fas fa-handshake"></i> Meet new people! </h4>
<p> Search and select a chat room to join without any lengthy sign-up forms that ask for your personal information.</p>

<div class="line"></div>

<h4><i class="fas fa-dungeon"></i> Create your own chat rooms!</h4>
<p>Can't find your own chat room? Just create your own! Enhance and tailor chat rooms to your needs by setting passwords, hiding them, or making them completely open for everyone.</p>

<div class="line"></div>

<h4> <i class="fas fa-user-secret"></i> (Coming soon) End-to-end encryption!</h4>
<p>In addition to standard TLS support, private and secret chat rooms will allow users to securely transmit data through end-to-end encryption of payloads from sender to receiver. As a result, only the people communicating can read the messages and absolutely no other person, even if the server itself gets compromised.</p>
<div class="line"></div>
<h4> <i class="fas fa-code-branch"></i> Source Code</h4>
<p>Please see full source code on <a href="https://github.com/davidschott/chitchat">GitHub <i class="fab fa-github"></i> </a> </p>
{{ end }}