{{ define "content" }}
<h2><i class="fas fa-comment-dots"></i> ChitChat</h2>
<p>ChitChat is a simple chat application that helps you connect with other people around the world.</p> 
<p>In today's age of persistent tracking cookies, identity classification, and mass surveillance it can be difficult to exchange or view information anonymously. ChitChat has been designed as an open-source project keeping your security and privacy in mind. It enables users to chat without having to worry about nefarious third parties analyzing their behavior for commercial reasons, or personal information being leaked after servers get compromised.</p>

<div class="line"></div>

<h4><i class="fas fa-handshake"></i> Meet new people! </h4>
<p> Search and select a chat room to join without any lengthy sign-up forms that ask for your personal information.</p>

<div class="line"></div>

<h4><i class="fas fa-dungeon"></i> Create your own chat rooms!</h4>
<p>Can't find your own chat room? Just create your own! Enhance and tailor chat rooms to your needs by setting passwords, hiding them, or making them completely open for everyone.</p>

<div class="line"></div>

<h4> <i class="fas fa-user-secret"></i> End-to-end encryption!</h4>
<p>On top of TLS encrpytion, private and secret chat rooms will allow users to securely transmit data through end-to-end message encryption. As a result, only the people communicating can read the messages and no other person.</p>
<div class="line"></div>
<h4> <i class="fas fa-code-branch"></i> Source Code</h4>
<p>Please see full source code on <a href="https://github.com/davidschott/chitchat">GitHub <i class="fab fa-github"></i> </a> </p>
{{ end }}