<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ChitChat</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <script type="text/javascript" src="/static/js/font-awesome.min.js"></script>
</head>

<body>
<!-- Put stuff here for testing-->

    <script src="/static/js/jquery-3.4.0.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
</body>

</html>