{{ define "navbar" }}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Chat 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Chat 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Chat 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Chat 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{{ end }}